<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="solrService" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <solrService>
    <add key="ServiceName" value="SolrCloud"/>
    <add key="DisplayName" value="SolrCloud"/>
    <add key="Description" value="Executes '{WorkingDirectory}\{FileName}' With: '{CommandLineArgs}'"/>
    <add key="FileName" value="solr"/>
    <add key="WorkingDirectory" value="C:\solr\solr-6.6.5\bin"/>
    <!--
    Example command line args with additional values
    <add key="CommandLineArgs" value="start -cloud -s {SolrServerDirectory} -m {MemorySize} -z {zkHost}"/>
    -->
    <add key="CommandLineArgs" value="start -cloud -s {SolrServerDirectory}"/>

    <!--
    All keys can be used to format the commandline args. Use the key within '{}' to format to that value.
    -->
    <add key="SolrServerDirectory" value="C:\solr\solr-6.6.5\server\solr"/>

    <add key="MemorySize" value="10g"/>
    <add key="zkHost" value="10.16.98.45:2181"/>
  </solrService>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
